version: '3.9'
services:
  py:
    build:
      context: .
      dockerfile: Dockerfile
    # Overrides default command so things don't shut down after the process ends.
    command: /bin/sh -c "while sleep 1000; do :; done"
    volumes:
      - ./work:/usr/src/app # ローカルをコンテナ内にマウント
